@model Bitcube.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DegreeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LectureId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LectureId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lecture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Course</th>
                    <th>Degree Id</th>
                </tr>
                @foreach (var item in Model.Course)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreeId)
                        </td>
                    </tr>
                }
            </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
